@import 'tailwindcss';

:root {
  --layout-w-base: 1440px;
  --layout-w-auth: 375px;
  --header-h-base: 3.125rem;

  /* // 급여/보너스/이자수익/배당수익/용돈/판매수입/기타 */
/* // 식비/주거비/교통비/통신비/의료비/보험료/교육비/생활비/기타 */
  --category-salary: #4CAF50;
  --category-bonus: #81C784;
  --category-interest: #2196F3;
  --category-dividend: #64B5F6;
  --category-allowance: #FFB74D;
  --category-sales: #A1887F;
  --category-food: #F44336;
  --category-housing: #E57373;
  --category-transportation: #FF9800;
  --category-communication: #FFB74D;
  --category-medical: #9C27B0;
  --category-insurance: #BA68C8;
  --category-education: #3F51B5;
  --category-living: #64B5F6;
  --category-other: #9E9E9E;
}

@layer base {
  * {
    font-family: './font/Pretendard-Medium.woff2';
  }
}

@theme {
  /* 메인 컬러 */
  --color-main: #74c9b9;
  --color-main-hover: #5bb3a5;
  --color-main-bg: #f9fafb;

  /* 지출 */
  --color-expense: #ff8b94;
  --color-expense-pastel: #fab5b5;

  /* 수입 */
  --color-income: #4a90e2;
  --color-income-pastel: #a3c9f9;

  /* 에러 */
  --color-error: #f72111;

  /* 그레이 스케일 */
  --color-gray-1: #f5f5f5; /* 취소 버튼 */
  --color-gray-2: #d9d9d9; /* 비활성화 */
  --color-gray-3: #e5e7eb; /* 인풋 outline */
  --color-gray-4: #d1d5db; /* 인풋 outline */
  --color-gray-5: #9ca3af; /* 아이콘 */
  --color-gray-6: #6b7280; /* 플레이스홀더 */
  --color-gray-7: #424242; /* 취소버튼 글자색 */
}
