@import 'tailwindcss';

:root {
  --layout-w-base: 1440px;
  --layout-w-auth: 375px;
  --header-h-base: 3.125rem;
}

@layer base {
  * {
    font-family: './font/Pretendard-Medium.woff2';
  }

  html,body{
    height: 100%;
  };
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@theme {
  /* 메인 컬러 */
  --color-main: #74c9b9;
  --color-main-hover: #5bb3a5;
  --color-main-bg: #f9fafb;

  /* 지출 */
  --color-expense: #ff8b94;
  --color-expense-pastel: #fab5b5;

  /* 수입 */
  --color-income: #4a90e2;
  --color-income-pastel: #a3c9f9;

  /* 에러 */
  --color-error: #f72111;

  /* 그레이 스케일 */
  --color-gray-1: #f5f5f5; /* 취소 버튼 */
  --color-gray-2: #d9d9d9; /* 비활성화 */
  --color-gray-3: #e5e7eb; /* 인풋 outline */
  --color-gray-4: #d1d5db; /* 인풋 outline */
  --color-gray-5: #9ca3af; /* 아이콘 */
  --color-gray-6: #6b7280; /* 플레이스홀더 */
  --color-gray-7: #424242; /* 취소버튼 글자색 */
}
